<header>
    <h1>- {{pageTitle}} -</h1>
    <div style="display: flex;">
        <p style="padding: 10px;"><a href="/">Home</a></p>
        <p style="padding: 10px;"><a href="/about">About</a></p>
        <p style="padding: 10px;"><a href="/projects">Projects</a></p>
    </div>

</header>